In [50]:
import pandas as pd
import numpy as np
import random

dat = pd.read_csv('genres .csv')
tot = np.array(dat)

movies = np.array()
x = np.array(dat)
X = tot[movies,:]
m , n = X.shape
y = np.ones((m,1))

In [51]:
import scipy.optimize as op

def Sigmoid(z):
    return 1/(1 + np.exp(-z));

def Gradient(theta,x,y):
    m , n = x.shape
    theta = theta.reshape((n,1));
    y = y.reshape((m,1))
    sigmoid_x_theta = Sigmoid(x.dot(theta));
    grad = ((x.T).dot(sigmoid_x_theta-y))/m;
    return grad.flatten();

def CostFunc(theta,x,y):
    m,n = x.shape; 
    theta = theta.reshape((n,1));
    y = y.reshape((m,1));
    term1 = np.log(Sigmoid(x.dot(theta)));
    term2 = np.log(1-Sigmoid(x.dot(theta)));
    term1 = term1.reshape((m,1))
    term2 = term2.reshape((m,1))
    term = y * term1 + (1 - y) * term2;
    J = -((np.sum(term))/m);
    return J;

# intialize X and y
#X = np.array([[1,2,3],[1,3,4]]);
#y = np.array([[1],[0]]);

initial_theta = np.zeros((n));
Result = op.minimize(fun = CostFunc, x0 = initial_theta, args = (X, y),method = 'TNC',jac = Gradient);
optimal_theta = Result.x;
optimal_theta

array([11.11867177,  8.00748094,  9.74029444,  7.9824862 ,  6.86332172,
       -1.7505648 , -0.70381601, -0.68442397,  3.48738567])

In [52]:
m_dat = pd.read_csv('movie_metadata_edited.csv')
m_names = m_dat['movie_title']
m_genres = m_dat['genres']
m_names[movies]

3                          The Dark Knight Rises
12    Pirates of the Caribbean: Dead Man's Chest
67                           Monsters vs. Aliens
23                            The Golden Compass
88                                    Big Hero 6
93            Terminator 3: Rise of the Machines
57                                        WALLÂ·E
9             Batman v Superman: Dawn of Justice
47                       Star Trek Into Darkness
71         The Mummy: Tomb of the Dragon Emperor
93            Terminator 3: Rise of the Machines
24                                     King Kong
28                                Jurassic World
91                  Independence Day: Resurgence
62                          The Legend of Tarzan
26                    Captain America: Civil War
16                                  The Avengers
91                  Independence Day: Resurgence
39                                  TRON: Legacy
11                             Quantum of Solace
Name: movie_title, dtype: object

In [49]:
res = (x@optimal_theta)
ans = np.argsort(res)
m_genres[ans]

997                           Comedy|Drama|Romance|Sport
422                                 Comedy|Drama|Romance
830                                 Comedy|Drama|Romance
831                                       Comedy|Romance
382                                 Comedy|Drama|Romance
846                                 Comedy|Drama|Romance
847                        Comedy|Family|Musical|Romance
848                                       Comedy|Romance
424                                 Comedy|Drama|Romance
860                           Comedy|Drama|Romance|Sport
863                       Biography|Comedy|Drama|Romance
864                                       Comedy|Romance
867                                       Comedy|Romance
870                                       Comedy|Romance
878                                       Comedy|Romance
220                                 Comedy|Drama|Romance
910                                 Comedy|Drama|Romance
862                                 Comedy|Drama|Romance
429                                       Comedy|Romance
444                                Comedy|Family|Romance
495                                       Comedy|Romance
728                                 Comedy|Crime|Romance
771                                       Comedy|Romance
708                                       Comedy|Romance
678                                       Comedy|Romance
658                                 Comedy|Drama|Romance
780                                       Comedy|Romance
782                                       Comedy|Romance
630                           Comedy|Crime|Drama|Romance
628                                       Comedy|Romance
                             ...
740                Action|Fantasy|Horror|Sci-Fi|Thriller
71              Action|Adventure|Fantasy|Horror|Thriller
145    Action|Adventure|Comedy|Family|Fantasy|Mystery...
18         Action|Adventure|Comedy|Family|Fantasy|Sci-Fi
477        Action|Adventure|Comedy|Family|Fantasy|Sci-Fi
638        Action|Adventure|Comedy|Family|Fantasy|Sci-Fi
644                       Action|Fantasy|Sci-Fi|Thriller
316                    Action|Adventure|Fantasy|Thriller
690                    Action|Adventure|Fantasy|Thriller
303                    Action|Adventure|Fantasy|Thriller
452             Action|Adventure|Family|Fantasy|Thriller
404               Action|Adventure|Fantasy|Horror|Sci-Fi
14                       Action|Adventure|Fantasy|Sci-Fi
223                      Action|Adventure|Fantasy|Sci-Fi
38                       Action|Adventure|Fantasy|Sci-Fi
224                      Action|Adventure|Fantasy|Sci-Fi
227                      Action|Adventure|Fantasy|Sci-Fi
485                      Action|Adventure|Fantasy|Sci-Fi
979               Action|Adventure|Family|Fantasy|Sci-Fi
0                        Action|Adventure|Fantasy|Sci-Fi
129    Action|Adventure|Animation|Comedy|Family|Fanta...
160    Action|Adventure|Animation|Fantasy|Romance|Sci-Fi
342     Action|Adventure|Animation|Family|Fantasy|Sci-Fi
632      Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller
33              Action|Adventure|Fantasy|Sci-Fi|Thriller
46              Action|Adventure|Fantasy|Sci-Fi|Thriller
120             Action|Adventure|Fantasy|Sci-Fi|Thriller
199             Action|Adventure|Fantasy|Sci-Fi|Thriller
885      Action|Adventure|Family|Fantasy|Sci-Fi|Thriller
720             Action|Adventure|Fantasy|Sci-Fi|Thriller
Name: genres, Length: 998, dtype: object

In [48]:
def find_com_words (name, words):
    count = 0
    for word in words:
        if (word not in ['The','the','of','Of','at','At','a','Z','and','And','A','in','In','on','On']):
            if(name.find(word)!=-1) :
                count = count +1
    #print(count)
    if(count >=2):
        return True
    else :
        return False

In [47]:
name_class = []
for test in m_names[movies]:
    words = test.split()
    #print(words)
    i = 0
    for name in m_names:
        if(find_com_words(name,words)):
            #print(name,i) 
            if(i not in movies):
                name_class.append(i)
        i = i+1
        
name_class = np.array(name_class)     
m_names[name_class]

65                                       The Dark Knight
1               Pirates of the Caribbean: At World's End
17           Pirates of the Caribbean: On Stranger Tides
194    Pirates of the Caribbean: The Curse of the Bla...
290                                       Batman Forever
56                                      Star Trek Beyond
152                                            Star Trek
562                              Star Trek: Insurrection
727                                   Star Trek: Nemesis
972                             Star Trek: First Contact
488                        The Lost World: Jurassic Park
131                                 The Legend of Tarzan
85                   Captain America: The Winter Soldier
161                   Captain America: The First Avenger
Name: movie_title, dtype: object

In [54]:
np.random.randint(0,100)

74